@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to my MVC Task Tracker</h1>
    <p>If you want to check out my repo, you can see it here <a href="https://github.com/atlc/TaskTracker">https://github.com/atlc/TaskTracker</a></p>
    <p>Feel free to also read about me on my <a href="https://atlc.dev">portfolio</a>, read my  <a href="https://atlc.dev/resume.pdf">resume</a>, or connect with me on <a href="https://linkedin.com/in/atlc-/">LinkedIn</a></p>
</div>

